main {
    background:linear-gradient(to bottom, hsl(233deg 35% 31%), hsl(225deg 92% 9%));
    color: #fff;
}

.followingDays {
    display: flex;
    justify-content: space-evenly;
}

.day {
    border: 1px dashed darkblue;
}

.icon {
    width: 60px;
    height: 60px;
}