main {
    background-color: darkslateblue;
    color: #fff;
}

.followingDays {
    display: flex;
    justify-content: space-evenly;
}

.day {
    border: 1px dashed darkblue;
}

.icon {
    width: 60px;
    height: 60px;
}